
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: grey;
    height: 40px;

    text-justify: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    

}

.nav-link {
    font-size: 20px;
    color: white;
    margin: 15px;
    display: inline-block;
    text-decoration: none;
}

.home-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-color: lightblue; */
    margin-left: 940px;
}

.nav-input {
    margin: 10px;
}

.companies {
    text-decoration: none; 
    width: 200px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    background: grey;
    color: #fff;

}

.form {
    margin:10px auto;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-label {
    padding: 5px
}
